// Variables
$website-width: 1080px;
$main-color: #ffcd3c;
$bg-website: #0d0f16;
$light-color: #f6f6f6;
$bg-card: #1b1d2c;
$nav-text: 1.2rem;
$h1-text: 4.5rem;
$header-text: 1.3125rem;
$bigbtn-text: 1.5rem;
$title-text: 4.5rem;
