@media (max-width: 1090px) {
  #contact {
    h2 {
      font-size: 4rem;
    }
  }
}

@media (max-width: 985px) {
  #projects {
    .project-image {
      flex-flow: nowrap;
      align-items: center;
      // display: none;
    }
    .project-card {
      flex-direction: column;
      width: 75%;
      align-self: center;
    }
  }

  #contact {
    .container {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .separator {
        width: 14rem;
      }

      div,
      form {
        width: 100%;
      }
    }
  }
}

@media (max-width: 620px) {
  #header-home {
    #header-content {
      h1 {
        text-align: left;
        font-size: 4rem;
      }
    }
  }
}

@media (max-width: 550px) {
  #header-home {
    padding-bottom: 20%;
    #header-content {
      padding-top: 0;
    }
    #main-nav {
      li:not(:last-child) {
        display: none;
      }
      ul {
        align-content: flex-end;
      }
    }
  }
  #projects {
    .project-card {
      width: 100%;
    }
  }

  #contact {
    padding-bottom: 30%;
  }
}
