.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.accent-color {
  color: $main-color;
}

.section-title {
  text-align: center;
  font-size: $title-text;
  font-family: "Domine", "serif";
  padding: 2rem;
}

%btn-shared {
  display: inline-block;
  padding: 0.5em 1rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  font-size: inherit;

  &:hover {
    transform: scale(1.05);
  }
}

.btn {
  &-big {
    font-size: $bigbtn-text;

    .iconify {
      font-size: #{($bigbtn-text + 0.2)};
    }
  }

  &-primary {
    @extend %btn-shared;
    color: $bg-website;
    background-color: $main-color;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
  }

  &-text {
    .iconify {
      font-size: #{($nav-text + 0.2)};
    }
  }

  &-demo {
    margin-right: 1rem;
    .iconify {
      margin-left: 0.3rem;
      font-size: 1rem;
    }
  }

  &-source {
    @extend %btn-shared;
    color: $bg-card;
    background-color: $light-color;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    margin-right: 1rem;
    .iconify {
      margin-left: 0.3rem;
      font-size: 1rem;
    }
  }
}

.card {
  &-title {
    font-size: 2.25rem;
  }

  &-subtitle {
    font-size: 1.5rem;
  }

  &-desc {
    font-size: 1.125rem;
  }
}

%form-input {
  background-color: #333;
  font: inherit;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: $light-color;
  // border: 1px $main-color;
  border-radius: 4px;
}

// .required-input {
//   border-color: $main-color;
// }

.separator {
  // display: inline-block;
  height: 0.5rem;
  width: 2rem;
  background-color: $main-color;
  align-self: center;
  margin-bottom: 32px;
}
