@import "config";
@import "utilities";

// General styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background: $bg-website;
  color: $light-color;
}

a {
  text-decoration: none;
  color: $light-color;
}

ul {
  list-style: none;
}

p {
  margin: 0.75rem 0;
}

//  Header
#header-home {
  height: 100vh;

  .logo {
    width: 30px;
    font-size: 40rem;
  }
  // Navbar
  #main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    font-family: "Domine", "serif";
    font-size: $nav-text;

    .navbar-brand {
      font-weight: 700;
    }

    ul {
      display: flex;
      justify-content: space-between;

      li {
        padding: 1rem 1.5rem;
      }
    }
  }

  // Header content
  #header-content {
    padding-top: 10%;
    text-align: justify;
    max-width: 47rem;
    h1 {
      font-size: $h1-text;
      line-height: 2;
      span {
        font-family: "Domine", "serif";
        font-weight: 700;
      }
    }

    p {
      font-size: $header-text;
      padding: 1rem 0;
    }
  }
}

// Projects

#projects {
  min-height: 100vh;

  #projects-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    .project {
      // TODO: fix card size
      &-card {
        display: flex;
        background-color: #1b1d2c;
        border-radius: 4px;
        margin-bottom: 2rem;
        overflow: hidden;
        border: 1px solid #1b1d2c;
      }

      &-image {
        flex: 2;
        line-height: 0;

        img {
          max-width: 100%;
        }
      }

      &-side {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        // height: max-content;
      }

      &-tech {
        margin-bottom: 1rem;
      }

      &-badge {
        font-size: 0.875rem;

        .tech-stack {
          padding: 0.2rem 0.5rem;
          margin-right: 0.5rem;
          border: 1px solid $main-color;
          border-radius: 4px;

          .iconify {
            font-size: 1rem;
          }
        }
      }

      &-link {
        margin-right: 1rem;
      }
    }
  }
}

// Contact form
#contact {
  height: 100vh;
  padding-top: 10%;
  font-size: 1.125rem;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
      display: flex;
      flex-direction: column;
      width: 45%;
    }
    h2 {
      padding: 0;
      margin: 0;
    }
    p {
      font-size: $header-text;
      line-height: 2;
      font-weight: 300;
    }

    form {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-self: center;

      input:not(:last-child) {
        @extend %form-input;
      }

      textarea {
        @extend %form-input;
        height: 100px;
      }

      .btn-contact {
        align-self: flex-start;
        margin-top: 1rem;
      }
    }
  }
}

// Footer
#main-footer {
  text-align: center;

  span {
    color: $main-color;
    font-size: 1.3rem;
  }
}

// Import Media Queries
@import "media";
